<div
  class="container p-4 relative z-10 flex justify-center items-center flex-col"
>
  <h3 class="inv-regular dressCode text-center font-bold text-6xl">
    Hola Vanessa
  </h3>
  <h2 class="text-sm">Presiona aquí y sube el volumen...</h2>
</div>

<style>
  .container {
    background-color: #b5985c;
    text-align: center;
    color: white;
  }
</style>
