---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/anillo.png" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="https://unpkg.com/scrollreveal"></script>

    <title>{title}</title>
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Great+Vibes&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Romanesco&family=Style+Script&family=Tangerine:wght@400;700&display=swap");

      h3 {
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      h2 {
        font-family: "Great Vibes", serif;
        font-weight: 400;
        font-style: normal;
      }

      .inv-regular {
        font-family: "Tangerine", serif;
        font-weight: 400;
        font-style: normal;
      }

      .inv-bold {
        font-family: "Tangerine", serif;
        font-weight: 700;
        font-style: normal;
      }

      .boda {
        font-family: "Style Script", serif;
        font-weight: 400;
        font-style: normal;
      }

      .romanesco-regular {
        font-family: "Romanesco", serif;
        font-weight: 400;
        font-style: normal;
      }
    </style></head
  >

  <body>
    <slot />
  </body>
</html>
